/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background-color: rgb(44, 44, 44);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
a:visited {
    font: inherit;
    color:inherit
}

* {
  box-sizing: border-box;
}

.boards-container {
  display: flex;
  max-width: 1500px;
  margin: 30px auto;
  justify-content: center;
  gap: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes blink { 50% { box-shadow: 0px 0px 12px 8px rgb(252, 58, 58); }  }
.game-board {
  margin: 0 auto;
  width: 500px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 12px double rgb(199, 199, 199);
  cursor: pointer;
}

.blink {
  animation: blink .5s step-end infinite alternate; 
}

.start-btn {
  border: 5px solid #000;
  font-size: 2.3rem;
  background-color: #fff;
  padding: 6px 12px;
  cursor: pointer;
}

.ship-yard {
  width: 600px;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-left: 200px;
}

.player-ship {
  display: grid;
  grid-template-columns: 1fr;
  width: 50px;
  scale: .5;
  border: 1px solid black;
  cursor: pointer;
}

.grid-square {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  color: red;
}

.clear {
  background-color: rgb(90, 145, 247);
}

.hit {
  background-color: rgb(68, 68, 68);
}

.ship {
  background-color: rgb(192, 192, 192);
}

.sunk {
  background-color: black;
}
