@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: 'Goldman', cursive;
  color: #fff;
  line-height: 1;
  background-color: rgb(44, 44, 44);
  background-image: url('./assets/y-so-serious.png');
  background-repeat: repeat;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
a:visited {
    font: inherit;
    color:inherit
}

* {
  box-sizing: border-box;
}

.boards-container {
  display: flex;
  max-width: 1500px;
  margin: 30px auto;
  justify-content: center;
  gap: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.game-board {
  margin: 0 auto;
  width: 524px;
  height: 524px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 12px double rgb(199, 199, 199);
  cursor: pointer;
  background: linear-gradient(135deg, #223b08, #182905, #000);
}

@keyframes blink { 50% {
   box-shadow: 0px 0px 12px 8px rgb(252, 58, 58);
   background-color: rgb(252, 58, 58);
   color: #fff;
  }  }

.blink {
  animation: blink .8s step-end infinite alternate;
}

.start-btn {
  font-family: 'Goldman', cursive;
  color: rgb(173, 173, 173);
  width: 300PX;
  font-size: 2.3rem;
  background-color: rgb(175, 47, 47);
  padding: 6px 12px;
  cursor: pointer;
  border: none;
}

.ships-container {
  text-align: center;
  width: 600px;
  margin-left: 200px;
}

.ship-yard {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
}

.player-ship {
  display: grid;
  grid-template-columns: 1fr;
  width: 50px;
  scale: .5;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgb(192, 192, 192);
}

.grid-square {
  box-shadow: 0px 0px 7px #40f87e;
  border: 1px solid #55ff8e;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  color: red;
}

.ship-square {
  border: 1px solid rgb(53, 53, 53);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  color: red;
}

.hit {
  background-color: rgb(68, 68, 68);
}

.ship {
  box-shadow: 0px 0px 8px 4px #40f87e;
  background-color: #2fce64;
}

.sunk {
  background-color: black;
}
