.game-board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.grid-square {
  border: 1px solid black;
}

.clear {
  background-color: blue;
}

.hit {
  background-color: red;
}

.ship {
  background-color: gray;
}

.sunk {
  background-color: black;
}

.miss {
  background-color: hotpink;
}